<h1>Listing museums</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @museums.each do |museum| %>
      <tr>
        <td><%= museum.id %></td>
        <td><%= museum.name %></td>
        <td><%= link_to 'Show', museum %></td>
        <td><%= link_to 'Edit', edit_museum_path(museum.id) %></td>
        <td><%= link_to 'Destroy', museum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Museum', new_museum_path %>
